<div class="home-callout text-center container-fluid">
  <h1>Welcome to FilmCrittr</h1>
  <h3>A home for every Critter and their crituque </h3>
</div>
<br>
<div class="container">
  <p>Sort by:
    <%= link_to "Title", movies_path(:sort_by => "title"), class: "btn btn-outline-warning" %>
    <%= link_to "Release Date", movies_path(:sort_by => "release_date"), class: "btn btn-outline-warning" %>
    <%= link_to "Genre", movies_path(:sort_by => "genre"), class: "btn btn-outline-warning" %>
  </p>
</div>
<br>
<div class="container">
  <h1 class="text-center">Popular Movies</h1>
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-12 col-md-4">
        <%= link_to movie_path(:id => movie.id) do %>
          <div class="movie-img">
            <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/<%= movie.poster_path %>">
            <br>
            <p class=""><%= movie.title %></p>
          </div>
  		  <% end %>
      </div>
    <% end %>
  </div>
</div>
<br>
