<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">

    	<div class="col-12 col-md-4 movie-img">
    		<img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/<%= @movie.poster_path %>">
    	</div>
    	<div class="col-12 col-md-8 movie-details">
    	  <h2><%= @movie.title %></h2>
        <br>
        <p><%= @movie.overview %></p>
        <br>
        <p>Premiered On: <%= @movie.release_date %></p>

    	</div>

  </div>
  <br>
  <%= link_to 'Back', movies_path, class: "float-right" %>
  <!-- <%= link_to 'Write a Review', new_review_path(:movie_id => @movie.id), class: "btn btn-primary float-right" %> -->
</div>
<div>
  <%= render 'reviews/form'  %>
</div>
