
<div class="container">
  <div class="row">

    	<div class="col-12 col-md-4 movie-img">
    		<img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/<%= @movie.poster_path %>">
    	</div>
    	<div class="col-12 col-md-8 movie-details">
    	  <h2><%= @movie.title %></h2>
        <br>
        <p><%= @movie.overview %></p>
        <br>
        <p>Premiered On: <%= @movie.release_date %></p>

    	</div>

  </div>
  <br>
  <%= link_to 'Back', movies_path, class: "float-right" %>
  <!-- <%= link_to 'Write a Review', new_review_path(:movie_id => @movie.id), class: "btn btn-primary float-right" %> -->
</div>
<div class="container">
  <div class="row">
    <% @this_movie_reviews.each do |review|  %>
      <div class="col-lg-6 review-box">
        <h4 class="left"><%= review.title  %></h1>
        <div class="right">
          <% review.rating.times do  %>
          <i class="fa fa-paw"></i>
        <% end %>
        </div>
        <br>
        <hr>
        <p class="italic">"<%= review.comment  %>"</p>
        <div>
          <p class="left">Posted on: <%= review.created_at.strftime("%m/%d/%Y at %I:%M%p")  %></p>
          <p class="right">by <%= review.user_email  %></p>
        </div>
      </div>
    <% end %>

  </div>
</div>
<div>
  <%= render 'reviews/form'  %>
</div>
